{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<h1 class="px-3">Welcome to the Running Club Booking page</h1>

<div class="px-3">
  <p>To book your run complete the form below:</p>
  <p>When entering a date/time please type in the following format: dd/mm/yy 00:00.</p>
</div>

<div class="container-fluid post-from-container w-25 ">
  <form action = "" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
        
        <script>
          $(function () {
            $("#id_booking_date_time").datetimepicker({
              format: 'd/m/Y H:i',
            });
          });
        </script>

    <button class="btn btn-signup btn-lg" type="submit" value="submit">Submit
    </button>
  </form>
</div>

{% for booking in existing_bookings %}
<div>
<div>{{booking.session_type}}
</div>
<div>{{booking.booking_date_time}}
</div>
<button onclick="return confirm('Are you sure you want to reschedule your run?')">
    <a href="{% url 'update-booking' booking.id %}">Reschedule
    </a>
  </button>
  <button class="btn btn-signup btn-lg" onclick="return confirm('Are you sure you want to cancel your run?')">
    <a href="{% url 'delete-booking' booking.id %}">Cancel
    </a>
  </button>
  </div>

{% endfor %}

{% endblock %}
