{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid post-form-container">

    {% if user.is_authenticated %}
    <h3 class="title">Edit Article</h3>
    <p>Editing as: {{ user.username }}</p>
    <form method="POST">
        {{ article_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Update Article</button>
        {% if updated %}
        {{ message }}
    </form>
    {% endif %}
    {% endif %}
    
</div>

{% endblock %}