{% extends "base.html" %}

{% block content %}

<header class="bg-light container">
    <div class="page-header min-vh-75 bg-gradient-dark" style="height: 500px; background-image:
    url('https://www.asics.com/dw/image/v2/BBTN_PRD/on/demandware.static/-/Library-Sites-shared-eu-library/default/dw49173505/1_asics/hero-banner/should-you-join-a-running-club.jpg')">
      <div class="container">
			  <div class="row">
				  <div class="col-lg-8 col-md-10 mx-auto">
					</div>
				</div>
			</div>
		</div>
</header>

<div class="container">
  <h2>Weclome to The Running Club</h2>
  <p>
    The Running Club is more than just a running club.  The Running Club is focussed around inclusion, strong values and ever-lasting friendship. No matter your 
    ability, there is a place for you here.  We make sure you never run alone and will always give you the support and guidance to make you a better and stonger
    runner.  Whether you are an experienced runner, picking back up from an injury or spell away from running, or even if you are running for the first time in a 
    group, The Running Club allows you to run at your own pace, and will encourage you and push you to new heights!

    So, what are you waiting for?  Strap on those running shoes, and let's get going!
</p>
</div>

<div class="container">
  <h3>Why Join a Running Club?</h3>
  <p>
    Running is more than simply exercise to improve cardiovascular health. For many, it is an alignment between body and mind, a meditative experience that can 
    help you think more clearly, boost natural endorphins and even sleep better. It’s also the accessibility and freedom of the activity that is such a draw for 
    runners everywhere. Wake up, pull on your trainers and go. Throw in fresh air, pretty views, and time and space to think and you’ve got a fun, flexible activity 
    you can do alone. And yes, while running will always remain ultimately a solo pursuit of progress against yourself, running as part of a group can make your 
    workout not just more intense but more rewarding.
  </p>
  <h5><strong>1. Enthusiasm is contagious</strong></h5>
  <p>
    Running is an awesome activity, but just like any form of exercise or extra-curricular activity, it requires motivation. And, sometimes, motivation is difficult 
    to come by. Whether you’ve had a hard day at the office or a busy time socialising with friends and family, or even if the weather is bad, when it comes time to 
    pull on your trainers, the incentive to get up and go can desert you.
  </p>
  <p>
    As part of a running club, however, you are alongside a bunch of like-minded people – many with the same goals as yourself – and just being part of such a group, 
    sharing the same experiences, can spur you out of your lethargy. We all know that the hardest part of achieving something is sometimes simply beginning. When you 
    join a running club, you are committing to making running a regular part of your week, and this routine can work wonders for your enthusiasm.
  </p>
  <h5><strong>2. A varied routine</strong></h5>
  <p>
    Speaking of routine, when you run regularly (seasoned pros will already know this) you will get fitter, more conditioned and you will enjoy your runs a lot more. 
    Yet, after a while, running the same routes at the same pace can not only become less interesting but actually lead to higher chances of injury. And monotony and 
    injuries are the last thing you want when trying to achieve your goals.
  </p>
  <p>
    When you join a running club, you will get exposed to different routes in the local area – it can be lots of fun running routes you might not otherwise have 
    encountered. And it’s not just different tracks and trails. When you run as part of a group, you will often be taken through specific workouts for specific goals. 
    For example, your first run of the week might be dedicated to speed and strength, whereas later runs might be focused on endurance. From ‘easy runs’ to ‘tempo runs’, 
    and everything in between, a varied routine will not only keep your exercise more interesting, it will also enable you to make better, faster progress in your running 
    abilities.
  </p>
  <h5><strong>3. Meet new people</strong></h5>
  <p>
    Running is a wonderful solo activity. It’s just you, nature and your desire to push yourself. So the idea of lacing up with a group and having less control over the 
    route or the distance can feel off-putting to some. For others, while it is a great way of getting much-needed alone time it can be a lonely pursuit. However, when 
    you join one of your local running clubs, you are surrounded by like-minded people who are interested in the same thing as you. You can benefit from lots of great 
    tips if you are just starting out, or advice for breaking plateaus and reaching your goals.
  </p>
  <p>
    If you live in a big city or have just moved to a new area, joining a club will also help you to meet new people, form friendships and take running beyond simply 
    great training and into a fun activity you do with friends. Most of all, there is great camaraderie to be found in pounding pavement in the pouring rain with a 
    group of fellow running enthusiasts.
  </p>
  

</div>


{% endblock %}