{% extends "base.html" %}

{% block content %}

<header>
    <div>
        <img src="{% static 'images/roadrun.jpg' %}" alt="running on road">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1>Our Run Schedule</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid pt-5">
<section class="pb-4">
    <div class="container justify-content-center">
<div class="card-group">
    <div class="card">
        <img src="" alt="">
        <div class="card-body">
            <h2>Early Grind</h2>
            <h5>When?: <span>Every Monday, Wednesday and Saturday</span></h5>
            <h5>Start: <span>6am in summer and 7am in winter</span></h5>
            <h5>Distance: <span>5 miles +</span></h5>
            <p>Input description of the run here</p>
        </div>
    </div>

    <div class="card">
        <img src="" alt="">
        <div class="card-body">
            <h2>Recovery Run</h2>
            <h5>When?: <span>Every Tuesday, Thursday and Sunday</span></h5>
            <h5>Start: <span>6am in summer and 7am in winter</span></h5>
            <h5>Distance: <span>5 miles +</span></h5>
            <p>Input description of the run here</p>
        </div>
    </div>

    <div class="card">
        <img src="" alt="">
        <div class="card-body">
            <h2>Twilight Run</h2>
            <h5>When?: <span>Every Monday, Wednesday and Friday</span></h5>
            <h5>Start: <span>6pm</span></h5>
            <h5>Distance: <span>5 miles +</span></h5>
            <p>Input description of the run here</p>
        </div>
    </div>
</div>        
    </div>
</section>
</div>


{% endblock %}